.socialbuttons {
  width: 70px;
  height: 70px;
}
.main {
  width: 80%;
  margin:auto;

}
.footer {
  margin: auto;
  width: 70%;
  position: relative;
  bottom: 0px;
  text-align: center;
}

.footer a{
opacity: 0.5;
}
.footer a:hover{
opacity: 1;
}
